<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <mat-form-field appearance="fill" class="float-start">
          <mat-label>Región</mat-label>
          <mat-select [formControl]="regionFC">
            <mat-option *ngFor="let region of regiones" [value]="region.value">
              {{region.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button  class="btn btn-primary btn-lg float-start" (click)="selectRegion()" >SELECCIONAR</button>
      </div>
      <div class="col-md-2">
        <button  class="btn btn-primary btn-lg float-start" (click)="openImportDataDialog()" >IMPORTAR DATOS</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body" style="max-height: 600px; overflow: scroll;">
            <h5 class="card-title">Card title</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Región</th>
                  <th scope="col">Zona</th>
                  <th scope="col">Distrito</th>
                  <th scope="col">Tienda</th>
                  <th scope="col">Área</th>
                  <th scope="col">Cargo</th>
                  <th scope="col">Perfil</th>
                  <th scope="col">Gafete</th>
                  <th scope="col">TagID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let attendee of attendees; index as i;" >
                  <th>{{i+1}}</th>
                  <th>{{attendee.organization_role.region}}</th>
                  <td>{{attendee.organization_role.zona}}</td>
                  <td>{{attendee.organization_role.distrito}}</td>
                  <td>{{attendee.organization_role.tienda}}</td>
                  <td>{{attendee.organization_role.area}}</td>
                  <td>{{attendee.organization_role.role}}</td>
                  <td>{{attendee.user_role.role}}</td>
                  <td>{{attendee.badge}}</td>
                  <td>{{attendee.tag_id}}</td>
                  <td>{{attendee.first_name | titlecase}} {{attendee.last_name | titlecase}}</td>
                  <td>
                    <span *ngIf="attendee.isNext" class="cursor">***</span>
                    <button *ngIf="attendee.tag_id" class="btn btn-sm btn-secondary" style="margin-right: 2px;"
                    (click)="printBadge(attendee)">reimprimir</button>
                    <button *ngIf="attendee.tag_id" class="btn btn-sm btn-secondary">Cambiar TAG</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">

            <h5 class="card-title">Setup</h5>
            <p class="card-text">Selecciona lectora e impresora.</p>
            <mat-form-field appearance="fill">
              <mat-label>Lectora</mat-label>
              <mat-select [formControl]="lectoraFC">
                <mat-option *ngFor="let lectora of lectoras" [value]="lectora.value">
                  {{lectora.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Impresora</mat-label>
              <mat-select [formControl]="impresoraFC">
                <mat-option *ngFor="let impresora of impresoras" [value]="impresora.value">
                  {{impresora.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button class="btn  btn-outline-dark">{{last_tag_id}}</button>
            <button  class="btn btn-success btn-lg float-end" (click)="startWorking()" [disabled]="attendees.length==0" *ngIf="!working">INICIAR PROCESO</button>
            <button  class="btn btn-danger btn-lg float-end" (click)="stopWorking()" *ngIf="working">PAUSAR PROCESO</button>
            <button  class="btn btn-primary btn-lg float-end" (click)="advanceCursor()" >AVANZAR CURSOR</button>
            <button  class="btn btn-primary btn-lg float-end" (click)="advanceCursor10()" >AVANZAR CURSOR 10</button>
          </div>
        </div>
        <div class="card" style="margin-top:10px">
          <div class="card-body">
            <h5 class="card-title">Instrucciones v1.7.1</h5>
            <p class="card-text">Cambios: Obtener lectoras de api.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
